*{
    padding: 0%;
    margin: 0%;
    max-height: max-content;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, rgb(239, 119, 8), rgba(229, 204, 14, 0.803));
}
.Header{
    width: 80%;
    height: 10%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftNav{
    width: 20%;
    font-size: 20px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
}
h5{
    font-size: 20px;
}
.RightNav{
    width: 35%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span{
    color: white;
    font-size: 18px;
}
.Hero{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: forestgreen; */
}
.LeftHero{
    width: 50%;
    height: 100%;
    /* background-color: greenyellow; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: white; */
}
.LeftHerohold{
    width: 80%;
    height: 80%;
    /* background-color: yellow; */
}
h1{
    font-size: 60px;
}
.B1{
    width: 120px;
    height: 40px;
    background-color: black;
    color: yellowgreen;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.B2{
    width: 120px;
    height: 40px;
    background-color: rgb(234, 181, 47);
    color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Button{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.RightHero{
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
}
img{
    width: 500px; 
    height: 700px;
    /* background-color: aquamarine; */
}